* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
body,
button,
input,
textarea {
  font: 12px/1.5 Tahoma, Helvetica, Arial, sans-serif;
  font-family: Microsoft YaHei, Tahoma, Helvetica, Arial, sans-serif;
}
body /deep/ .van-toast--top {
  top: 24%;
  background-color: #eafcfe;
  color: #474343;
}
